.bg-red {
  background-color: rgb(193,0,0);
}

.border-top {
  border-top: solid 2px black;
}

.color-white {
  color: white;
}

.padding-top {
  padding-top: 5%;
}

.padding_two {
  padding: 2%;
}

.photo {
  max-width: 100%;
}

.margin-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

.no-mg-left {
  margin-left: 0px;
}

.red-link {
  color: red;
  text-decoration: none
}

.red-link:hover {
  color: black;
  text-decoration: none
}

.text-center {
  text-align: center;
}
