.bg-red {
  background-color: rgb(96,0,0);
}

.border-top {
  border-top: solid 2px black;
}

.border-top-dotted {
  border-top: dotted 2px black;
}

.border-bottom {
  border-bottom: solid 2px black;
}

.button-custom {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-black {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button-black:hover {
  background-color: #555555;
  color: white;
}

.color-white {
  color: white;
}

.fixed {
  position: fixed;
}

.footer {
  font-size: 2rem;
  margin-top: 2%;
}

.cairo-font {
  font-family: Cairo-Light;
}

.lite-font {
  font-family: SourceCodePro-Regular;
}

.padding-top {
  padding-top: 5%;
}

.padding_two {
  padding: 2%;
}

.photo {
  max-width: 100%;
}

.margin-top-bottom {
  margin-top: 5%;
  margin-bottom: 5%;
}

.no-mg-left {
  margin-left: 0px;
}

.red-link {
  color: red;
  text-decoration: none
}

.red-link:hover {
  color: rgb(96,0,0);
  text-decoration: none
}

.text-center {
  text-align: center;
}
